{% load static %}
    {% include 'header.html' %}
        
        <div id="wrapper">
        {% include 'sidebar.html' %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Vectra Vehicle Tracking System is developed by 5 brillian Students at Addis Ababa institute of Technoloy </h3>
                    </div>
                </div>
            </div> -->
            <div class="well">
              <div class="row">
                  <div class="col-sm-12">
                      <p><h1>Our Storys</h1></p>
                  </div>
              </div>
              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Dagim Sisay </h2><h4><span class="text-muted">Coder</span></h4>
                  <p class="lead"><h5>Dagim fell in love with computers and programming at a very early age
                                      in his life. Over the course of the years, he developed his skills on several programming
                                      languages such as python, Java, C/C++, and PHP with which he has worked on many
                                      passion projects. Some of his work include a Verilog dump file parser, speech gender
                                      classification and Amharic text to speech. His ambition has now led him towards the field
                                      of Artificial Intelligence where he is working on being a system administrator for an Open
                                      source AI platform by the name of OpenCog. In addition to his skills as a programmer,
                                      Dagim is also known to dabble with graphics design. This enables him to not only make
                                      systems that work, but those that look good while doing so.</h5></p>
                  <p>
                    <a href="">Contact Dagim Sisay</a>
                  </p>
                </div>
                <div class="col-md-5">
                  <img class="img-thumbnail img-responsive center-block" src="{% static 'img/about/dagi.jpg' %}" alt="Dagim Sisay's image">
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                  <h2 class="featurette-heading">Daniel Fekadu </h2><h4><span class="text-muted">Coder</span></h4>
                  <p class="lead"><h5>With knowledge of python, Java, C/C++ and Android application
                                      development, Daniel has worked on many software projects individually and as a team.
                                      The most notable of his work include an app store for Ethiopia, “Sebastopol” game for
                                      android and hacking a robot (Robosapian by Wowee) to enable it to play soccer. Daniel
                                      is especially good at designing algorithms and implementing mathematical models. This,
                                      mixed with his love for physics has led him towards the field of Artificial Intelligence
                                      where he is now working on implementing a deep learning framework by the name of
                                      Destin.</h5></p>
                  <p>
                    <a href="">Contact Daniel Fekadu</a>
                  </p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                  <img class="img-thumbnail img-responsive center-block" src="{% static 'img/about/dani.jpg' %}" alt="Daniel Fekadu's image">
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Elias Feleke </h2><h4><span class="text-muted">System Analysis and Design</span></h4>
                  <p class="lead"><h5>Elias is the embodiment of patience: patience that
                                      extends from the way he communicates with people to the way he does his work. This
                                      quality of his makes him well suited to gather information from a customer and map out
                                      a system plan without missing a feature or leaving any requirements behind. His
                                      attention to detail, broad knowledge of database design and his eye for user interface
                                      design have helped him create amazing systems like a movie database for Ethiopia films
                                      that allows users to rate and comment on the movies they liked. Furthermore, his solid
                                      programming background helps him make his system designs pragmatic and easy to
                                      implement.</h5></p>
                  <p>
                    <a href="">Contact Elias Feleke</a>
                  </p>
                </div>
                <div class="col-md-5">
                  <img class="img-thumbnail img-responsive center-block" src="{% static 'img/about/ela.png' %}" alt="Elias Feleke's image">
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                  <h2 class="featurette-heading">Kidus Wendimagegn </h2><h4><span class="text-muted">Project Manager</span></h4>
                  <p class="lead"><h5>Kidus’s early experience with team work had always
                                      been horrible. He was often left to do all the work by himself which was often strenuous
                                      and inefficient. This made him truly appreciate the value of division of labor. So, with
                                      this inspiration, he set out to develop his own skills in communication and management.
                                      He was able to join student clubs such as Model United Nations where he spent 4 years
                                      serving as a delegate and a chairperson, AIESEC in AAU where he was a project manager
                                      for a program called Y.E.S 2.0 (Young Entrepreneur Students) and Toastmasters. These
                                      helped him develop his presentation, communication, crises management and timemanagement skills. He then went on his internship period serving as a team leader for
                                      the software projects he was working on.</h5></p>
                  <p>
                    <a href="">Contact Kidus Wendimagegn</a>
                  </p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                  <img class="img-thumbnail img-responsive center-block" src="{% static 'img/about/kidus.jpg' %}" alt="Kidus Wendimagegn's image">
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Mahlet Alie </h2><h4><span class="text-muted">Product Tester</span></h4>
                  <p class="lead"><h5>Mahlet is an aspiring biomedical engineer with an insatiable reading
                                      habit. Her fascination with human genetics and her tendencies to read and research took
                                      her on a path that landed her in the eyes of some of the world’s foremost brilliant minds
                                      such as Dr. Ben Goertzel and Mike Duncan, who at the time are working on the concepts
                                      of longevity 1 and extending human life. The work includes acquiring large amount of
                                      data on human gene sequence, mining through it and running probabilistic experiments
                                      on possible combinations. Her work on analysis of data have made her more meticulous
                                      than ever and running numerous amount of experiments has helped her develop a keen
                                      sense of making different approaches to solving a problem. These aspects of her make her
                                      ideal for product testing and debugging.</h5></p>
                  <p>
                    <a href="">Contact Mahlet Alie</a>
                  </p>
                </div>
        <div class="col-md-5">
          <img class="img-thumbnail img-responsive center-block" src="{% static 'img/about/mahlet.jpg' %}" alt="Mahlet Alie's image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
{% include 'footer.html' %}