{% load static %}
    {% include 'header.html' %}
        
    <div id="wrapper">
            {% include 'sidebar.html' %}
         <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="well">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-group" method="post" action="/dashboard/edit_vehicle/{{user.id}}/{{vehicle.id}}/" enctype="multipart/form-data">
			{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2 class="form-heading pull-left">Edit Vehicle</h2>
                                </div>
                                <div class="col-sm-8">
                                    &nbsp;                         
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5 class="form-heading pull-left">Plate Number</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="form-heading pull-left">Vehicle Name</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="form-heading pull-left">Gps Device Id</h5>                  
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="plate_number" class="sr-only">Plate Number</label>
                                    <input name="plate_number" type="text" value="{{vehicle.plate_number}}" class="form-control " disabled=""  placeholder="{{vehicle.plate_number}}" maxlength="11"/>
                                </div> 
                                <div class="col-sm-4">
                                    <label for="name" class="sr-only">Vehicle Name</label>
                                    <input name="name" type="text" value="{{vehicle.name}}" class="form-control "  placeholder="{{vehicle.name}}" maxlength="25"/>
                                </div>  
                                <div class="col-sm-4">
                                    <label for="gps" class="sr-only">Gps Device Id</label>
                                    <input name="gps" type="text" value="{{vehicle.gps.device_id}}" class="form-control "  placeholder="{{vehicle.gps.device_id}}" maxlength="25"/>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5><span>Brand Name</span></h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><span>Model Number</span></h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><span>Engine CC</span></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="brand_name" class="sr-only">Brand Number</label>
                                    <input name="brand_name" type="text" value="{{vehicle.brand_name}}" class="form-control "  placeholder="{{vehicle.brand_name}}" maxlength="50"/>
                                </div>
                                <div class="col-sm-4">
                                    <label for="v_model" class="sr-only">Model Number</label>
                                    <input name="v_model" type="text" value="{{vehicle.v_model}}" class="form-control "  placeholder="{{vehicle.v_model}}" maxlength="10"/>
                                </div>
                                <div class="col-sm-4">
                                    <label for="engine_cc" class="sr-only">Engine CC</label>
                                    <input name="engine_cc" type="number" value="{{vehicle.engine_cc}}" class="form-control "  placeholder="{{vehicle.engine_cc}}" maxlength="4"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5 class="form-heading pull-left">Color</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="form-heading pull-left">Photo</h5>                 
                                </div>
                                <div class="col-sm-2">
                                   <h5 class="form-heading pull-left">Status</h5>              	  
                                </div> 
                                 <div class="col-sm-2">                
                                    <h5 class="form-heading pull-left">Assign Vehicle</h5> 
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="color" class="sr-only">Color</label>
                                    <input name="color" type="text" value="{{vehicle.color}}" class="form-control "  placeholder="{{vehicle.color}}" maxlength="20"/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="btn btn-default btn-file">
                                    Upload <input name="image" type="file" style="display: none;" accept="image/*"/>
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                   <select class="form-control " id="id_status" name="status" >
					<option class="form-control " value="" selected="selected">
					{%if vehicle.status == 'A' %}
						active
					</option>
					<option value="D">not active</option>
					{%endif%}
					{%if vehicle.status == 'D' %}
						not active
					
					</option>
					<option  value="A">active</option>
					{%endif%}

					
				   </select>
                   </div><div class="col-sm-2">
				   <select class="form-control " id="id_assign" name="assign">
					<option value="" selected="selected">{{current_driver.person.first_name}}</option>
					{%for driver in drivers %}
						{%if driver != current_driver%}
						<option value="{{driver.id}}">{{driver.person.first_name}}
						</option>
						{%endif%}
					{%endfor%}
				   </select>
                                </div>
                            </div>
                            </br></br>
                            <div class="row">
                                <div class="col-sm-6">
                                    &nbsp;
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-lg btn-default btn-block" type="submit">Save</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-lg btn-default btn-block" type="cancel">Cancel</button>
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->
    <!-- jQuery -->
{% include 'footer.html' %}
