{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Icon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>Vectra VTS</title>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vehicle.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.3.0/css/font-awesome.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default no-margin navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
              <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/dashboard/dashboard/{{user.id}}/"><i class="fa fa-home fa-4"></i> Vectra VTS</a>     
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>

            <!-- Profile and signout Navbar -->
            <ul class="nav navbar-nav navbar-right" id="Profile" >
                {% if here == 'vehicle' or here == 'driver' %}
                <li>
                    {% if here == 'vehicle' %} 
                    <form class ="navbar-form navbar-right" role="search" 
                    
                    action = "/dashboard/search_vehicle/{{user.id}}/"
                  
                    method = "post" enctype="multipart/form-data">
                    {% endif %}

                    {% if here == 'driver' %} 
                    <form class ="navbar-form navbar-right" role="search" 
                    
                    action = "/dashboard/search_driver/{{user.id}}/"
                  
                    method = "post" enctype="multipart/form-data">
                    {% endif %}
                
                        <input type="text" class= "form-control" name="item" placeholder="search ..." >
                        <button class = "btn btn-default" type = "submit"><span class = "glyphicon glyphicon-search" style="margin: 0;">
                                
                        </span>
                            
                        </button>
                        
                    </form>

                </li>
                {%endif%}
                <li><a href="/dashboard/dashboard/profile/{{user.id}}/" class="fa fa-user fa-stack-1x ">  Profile</a></li>

                <li><a href="/user_logout/"  class="fa fa-sign-out fa-stack-1x ">  Sign Out</a></li>
            </ul>   
        </div><!-- bs-example-navbar-collapse-1 -->

    </nav>
